$villa-kid-color-azul-violaseo: #9494d8;
$villa-kid-color-azul-violaseo-active: #7B7BCC;
$villa-kid-color-white: #FFFFFF;
$villa-kid-orange: #fa661e;
$default-width-sidebar: 217px;


.v-sidebar {
  display: flex;
  position: relative;

  background-color: $villa-kid-color-azul-violaseo;
  height: calc(100vh - 80px);
  overflow-x: hidden;
  overflow-y: auto;
  width: $default-width-sidebar - 123;
  transition: all linear .2s;
  padding-bottom: 1rem;

  flex-direction: column;
  flex-shrink: 0;

  &::-webkit-scrollbar {
    width: 10px;
  }

  .v-navbar {
    flex-grow: 1;

    &.v-item {
      position: relative;

      &.item-active {
        background: $villa-kid-color-azul-violaseo-active;
        box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.25);

        &::after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          width: 7px;
          height: 100%;
          background-color: $villa-kid-orange;
          box-shadow: inset 4px -2px 4px rgba(123, 123, 204, 0.25);
        }
      }

      .wrapper-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        text-decoration: none;
        transition: all ease-out .2s;

        &:hover {
          background: $villa-kid-color-azul-violaseo-active;
          box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.25);
        }

        &__icon {
          display: none;
          width: 100%;
          text-align: right;

          svg {
            transition: 300ms;
          }

          .is-active {
            transform: rotate(90deg);
          }
        }
      }

      >button {
        padding: 0;
      }

      img {
        cursor: pointer;
        margin: 2rem auto;
        width: 28px;
        transition: all linear .2s;
      }

      .content-list {
        display: flex;
        align-items: center;
      }

      .link_name {
        transition: opacity linear .2s;
        opacity: 0;
        display: none;
      }
    }
  }

  .wrapper-logout {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 100px;

    .link_name {
      color: $villa-kid-color-white;
      font-weight: bold;
      font-size: 20px;
      line-height: 22px;
      transition: all linear .2s;
      padding: 0;
    }

    img {
      transition: 300ms;
      width: 18px;
    }
  }

  .link_name {
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    padding: 0 .8rem;
    color: $villa-kid-color-white;

    &.logout {
      cursor: pointer;
    }
  }
}


.v-sidebar.is-active {
  width: $default-width-sidebar;

  .v-navbar {
    margin-bottom: 20px;

    &.v-item {
      width: 100%;
      list-style: none;
      justify-content: space-between;

      .child-item {
        position: relative;

        .item>a {
          padding: 1rem;
          padding-left: 1.5rem;
          display: block;
          font-weight: bold;
          font-size: 18px;
          line-height: 28px;
          color: #FFFFFF;
          background: $villa-kid-color-azul-violaseo-active;
          box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.25);

          &.is-active,
          &:hover {
            background: $villa-kid-orange;
          }
        }
      }

      img {
        margin: 0;
      }

      .wrapper-content {
        position: relative;
        display: flex;
        padding: 1.2rem;
        width: 100%;
        cursor: pointer;

        &__icon {
          display: block;
        }

        .link_name {
          opacity: 1;
          display: block;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .v-sidebar {
    position: fixed;
    transition: transform 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: translateX(calc(#{$default-width-sidebar} * -1));
    z-index: 10;
    height: calc(100vh - 70px);

    .v-navbar {
      &.v-item {
        img {
          margin: 1rem auto;
          width: 22px;
        }

        .link_name {
          font-size: 16px;
          line-height: 22px;
        }
      }
    }

    &.is-active {
      width: $default-width-sidebar - 38;
      .v-navbar {
        margin-bottom: 10px;
        &.v-item {
          .child-item {
            .item>a {
              padding: 1rem;
              padding-left: 1rem;
              font-size: 16px;
              line-height: 22px;
            }
          }
        }
      }
    }
  }

  .v-sidebar.show-sidebar {
    transform: translateX(0);
  }
}
