/* ------------------------------------
  #              Animation
 -------------------------------------- */

.slide-top {
  animation: 1.5s ease 0s normal forwards 1 slide-top;
  opacity: 1;
}

.slide-right {
  animation: .6s ease-out 0s normal forwards 1 slide-right;
  opacity: 1;
}

.animation-y {
  transform: translateY(-20%);
  transition: transform 0.25s cubic-bezier(0, 0, 0.2, 1) 0.25s, opacity 0.16s cubic-bezier(0, 0, 0.2, 1);
  opacity: 0;
}

.animation-x {
  transform: translateX(-20%);
  transition: transform 0.25s cubic-bezier(0, 0, 0.2, 1) 0.25s, opacity 0.16s cubic-bezier(0, 0, 0.2, 1);
  opacity: 0;
}

.animation-active {
  transform: none;
  transition-delay: 0ms, 0ms, 0ms;
  opacity: 1;
}


@keyframes slide-top {
  0% {
    transform: translateY(-50px);
    opacity: 0.5;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(20%);
    opacity: 0.8;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}