button {
  display: block;
  cursor: pointer;
  outline: none;
  transition: 300ms;

  &:focus {
    outline: none;
  }
}

.btn {
  flex-grow: 1;
  font-size: $font-p2;
  line-height: 20px;
  padding: 14px 60px;
  border-radius: 30px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  color: $color-lightin;
  @extend .-bold;

  a,
  span {
    color: inherit;
  }
}

.btn--primary.btn\:solid {
  background-color: $color-primary;
  border: 1px solid $color-primary;
}

.btn--secondary.btn\:solid {
  background-color: $color-secondary;
  border: 1px solid $color-secondary;
}

.btn--primary.btn\:outline {
  border: 1px solid $color-primary;
  color: $color-primary;
}

.btn--secondary.btn\:outline {
  border: 1px solid $color-secondary;
  color: $color-secondary;
}

@media only screen and (max-width: 480px) {
  .btn {
    padding: 14px 40px !important;
  }
}
