button {
  &:focus {
    outline: none;
  }
}

.btn {
  flex-grow: 1;
  // width: 100%;
  a,
  span {
    display: block;
    @extend .-bold;
    cursor: pointer;
    outline: none;
    font-size: $font-h6;
    line-height: 25px;
    padding: 14px 60px;
    width: 100%;
    border-radius: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    color: $color-lightin;
  }
}

.btn--primary.btn\:solid {
  a,
  span {
    background-color: $color-primary;
  }
}

.btn--secondary.btn\:solid {
  a,
  span {
    background-color: $color-secondary;
  }
}

.btn--primary.btn\:outline {
  a,
  span {
    border: 1px solid $color-primary;
    color: $color-primary;
  }
}

.btn--secondary.btn\:outline {
  a,
  span {
    border: 1px solid $color-secondary;
    color: $color-secondary;
  }
}

.btn--arrow a {
  position: relative;

  &::after {
    content: "";
    // content: url('assets/img/arrow-btn.svg');
    display: block;
    position: absolute;
    top: 15px;
    right: 25px;
  }
}
