@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;700&display=swap');

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-active {
  opacity: 0;
}

/*
  Enter and leave animations can use different
  durations and timing functions.
*/
.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter,
.slide-fade-leave-active {
  transform: translateY(-100px);
  opacity: 0;
}

/* animate */
.slide-left-enter-active,
.slide-left-leave-active {
  transition: all 0.5s;
}
.slide-left-enter,
.slide-left-leave-active {
  opacity: 0;
}
.slide-left-enter {
  transform: translateX(-31px);
}
.slide-left-leave-active {
  transform: translateX(31px);
}

.slide-right-enter-active,
.slide-right-leave-active {
  transition: all 0.5s;
}
.slide-right-enter,
.slide-right-leave-active {
  opacity: 0;
}
.slide-right-enter {
  transform: translateX(31px);
}
.slide-right-leave-active {
  transform: translateX(-31px);
}
